In [3]:
import multiprocessing as mp
import numpy as np
import itertools as it
from sklearn import preprocessing as pre
from sklearn.datasets import load_diabetes

In [4]:
X,y,__,feats = tuple(x for x in load_diabetes().values())
display(X)
display(y)

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [16]:
import pandas as pd
X = pd.DataFrame(X)
X.columns = feats
display(X.head())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [23]:
fe_polynomial = pre.PolynomialFeatures(degree=3)
display(X.head())
fe_polynomial.fit(X);
df = pd.DataFrame(fe_polynomial.transform(X))
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

,0,1,2,3,4,5,6,7,8,9,...,276,277,278,279,280,281,282,283,284,285
0,1.0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,...,-1.741954e-08,1.337810e-07,-1.185788e-07,-1.027431e-06,9.106785e-07,-8.071934e-07,7.890607e-06,-6.993957e-06,0.000006,-5.494752e-06
1,1.0,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,...,-6.159891e-05,-1.065758e-04,-1.438132e-04,-1.843928e-04,-2.488193e-04,-3.357564e-04,-3.190284e-04,-4.304965e-04,-0.000581,-7.838807e-04
2,1.0,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,...,-1.741954e-08,1.924403e-08,-1.742473e-07,-2.125961e-08,1.924976e-07,-1.742992e-06,2.348630e-08,-2.126594e-07,0.000002,-1.743511e-05
3,1.0,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,...,4.038488e-05,2.671073e-05,-1.101989e-05,1.766659e-05,-7.288598e-06,3.007013e-06,1.168476e-05,-4.820709e-06,0.000002,-8.205283e-07
4,1.0,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,...,-1.741954e-08,-2.149768e-07,-3.134184e-07,-2.653057e-06,-3.867937e-06,-5.639132e-06,-3.274173e-05,-4.773472e-05,-0.000070,-1.014612e-04

In [34]:
fe_polynomial = pre.PolynomialFeatures(degree=2,include_bias=False)
display(X.head())
fe_polynomial.fit(X);
df = pd.DataFrame(fe_polynomial.transform(X))
df.head().iloc[:,0:15]

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,0.001450,0.001930,0.002349,0.000833,-0.001684
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,0.000004,0.000084,0.000097,0.000050,0.000016
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,0.007276,0.004323,0.003792,-0.000484,-0.003890
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,0.007932,0.003976,0.001033,0.003265,-0.001086
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,0.000029,-0.000240,-0.000196,0.000118,0.000021

In [ ]:
fe_polynomial = pre.PolynomialFeatures(degree=2,include_bias=False)
df = pd.DataFrame(fe_polynomial.fit_transform(X))
df.head().iloc[:,0:15]

In [46]:
from importlib import reload

In [47]:
import interaction

In [70]:
reload(interaction)

dat, names = interaction.fe_polynomial(X, feats, deg=3, include_bias=True, include_lower=False)
print(dat)
print(names)

[[ 1.00000000e+00 -9.14709343e-03  5.06801187e-02 ...  1.44702845e-09
   1.04643710e-07  7.56744351e-06]
 [ 1.00000000e+00  4.17084449e-02  5.06801187e-02 ...  4.34000963e-07
  -1.11754631e-07  2.87766585e-08]
 [ 1.00000000e+00  3.80759064e-02  5.06801187e-02 ...  5.10576493e-07
  -1.21213388e-07  2.87766585e-08]
 ...
 [ 1.00000000e+00  4.17084449e-02  5.06801187e-02 ...  3.40437594e-05
  -1.12493283e-05  3.71719776e-06]
 [ 1.00000000e+00 -4.54724779e-02 -4.46416365e-02 ... -5.14140562e-05
   2.99400986e-05 -1.74351056e-05]
 [ 1.00000000e+00 -4.54724779e-02 -4.46416365e-02 ...  5.45686002e-08
  -3.96270359e-08  2.87766585e-08]]
['age^3', 'age^2 sex', 'age^2 bmi', 'age^2 bp', 'age^2 s1', 'age^2 s2', 'age^2 s3', 'age^2 s4', 'age^2 s5', 'age^2 s6', 'age sex^2', 'age sex bmi', 'age sex bp', 'age sex s1', 'age sex s2', 'age sex s3', 'age sex s4', 'age sex s5', 'age sex s6', 'age bmi^2', 'age bmi bp', 'age bmi s1', 'age bmi s2', 'age bmi s3', 'age bmi s4', 'age bmi s5', 'age bmi s6', 'age bp^2', 'age bp s1', 'age bp s2', 'age bp s3', 'age bp s4', 'age bp s5', 'age bp s6', 'age s1^2', 'age s1 s2', 'age s1 s3', 'age s1 s4', 'age s1 s5', 'age s1 s6', 'age s2^2', 'age s2 s3', 'age s2 s4', 'age s2 s5', 'age s2 s6', 'age s3^2', 'age s3 s4', 'age s3 s5', 'age s3 s6', 'age s4^2', 'age s4 s5', 'age s4 s6', 'age s5^2', 'age s5 s6', 'age s6^2', 'sex^3', 'sex^2 bmi', 'sex^2 bp', 'sex^2 s1', 'sex^2 s2', 'sex^2 s3', 'sex^2 s4', 'sex^2 s5', 'sex^2 s6', 'sex bmi^2', 'sex bmi bp', 'sex bmi s1', 'sex bmi s2', 'sex bmi s3', 'sex bmi s4', 'sex bmi s5', 'sex bmi s6', 'sex bp^2', 'sex bp s1', 'sex bp s2', 'sex bp s3', 'sex bp s4', 'sex bp s5', 'sex bp s6', 'sex s1^2', 'sex s1 s2', 'sex s1 s3', 'sex s1 s4', 'sex s1 s5', 'sex s1 s6', 'sex s2^2', 'sex s2 s3', 'sex s2 s4', 'sex s2 s5', 'sex s2 s6', 'sex s3^2', 'sex s3 s4', 'sex s3 s5', 'sex s3 s6', 'sex s4^2', 'sex s4 s5', 'sex s4 s6', 'sex s5^2', 'sex s5 s6', 'sex s6^2', 'bmi^3', 'bmi^2 bp', 'bmi^2 s1', 'bmi^2 s2', 'bmi^2 s3', 'bmi^2 s4', 'bmi^2 s5', 'bmi^2 s6', 'bmi bp^2', 'bmi bp s1', 'bmi bp s2', 'bmi bp s3', 'bmi bp s4', 'bmi bp s5', 'bmi bp s6', 'bmi s1^2', 'bmi s1 s2', 'bmi s1 s3', 'bmi s1 s4', 'bmi s1 s5', 'bmi s1 s6', 'bmi s2^2', 'bmi s2 s3', 'bmi s2 s4', 'bmi s2 s5', 'bmi s2 s6', 'bmi s3^2', 'bmi s3 s4', 'bmi s3 s5', 'bmi s3 s6', 'bmi s4^2', 'bmi s4 s5', 'bmi s4 s6', 'bmi s5^2', 'bmi s5 s6', 'bmi s6^2', 'bp^3', 'bp^2 s1', 'bp^2 s2', 'bp^2 s3', 'bp^2 s4', 'bp^2 s5', 'bp^2 s6', 'bp s1^2', 'bp s1 s2', 'bp s1 s3', 'bp s1 s4', 'bp s1 s5', 'bp s1 s6', 'bp s2^2', 'bp s2 s3', 'bp s2 s4', 'bp s2 s5', 'bp s2 s6', 'bp s3^2', 'bp s3 s4', 'bp s3 s5', 'bp s3 s6', 'bp s4^2', 'bp s4 s5', 'bp s4 s6', 'bp s5^2', 'bp s5 s6', 'bp s6^2', 's1^3', 's1^2 s2', 's1^2 s3', 's1^2 s4', 's1^2 s5', 's1^2 s6', 's1 s2^2', 's1 s2 s3', 's1 s2 s4', 's1 s2 s5', 's1 s2 s6', 's1 s3^2', 's1 s3 s4', 's1 s3 s5', 's1 s3 s6', 's1 s4^2', 's1 s4 s5', 's1 s4 s6', 's1 s5^2', 's1 s5 s6', 's1 s6^2', 's2^3', 's2^2 s3', 's2^2 s4', 's2^2 s5', 's2^2 s6', 's2 s3^2', 's2 s3 s4', 's2 s3 s5', 's2 s3 s6', 's2 s4^2', 's2 s4 s5', 's2 s4 s6', 's2 s5^2', 's2 s5 s6', 's2 s6^2', 's3^3', 's3^2 s4', 's3^2 s5', 's3^2 s6', 's3 s4^2', 's3 s4 s5', 's3 s4 s6', 's3 s5^2', 's3 s5 s6', 's3 s6^2', 's4^3', 's4^2 s5', 's4^2 s6', 's4 s5^2', 's4 s5 s6', 's4 s6^2', 's5^3', 's5^2 s6', 's5 s6^2', 's6^3']